@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-brVx9EvrkDPo8v: #8c1c84;
  --plasmic-token-purple: var(--token-brVx9EvrkDPo8v);
  --token-_STAO0z_mfYqGn: #45a2f8;
  --plasmic-token-blue: var(--token-_STAO0z_mfYqGn);
  --token-I8Zq9cIVj1LU3l: #ffffff;
  --plasmic-token-white: var(--token-I8Zq9cIVj1LU3l);
  --token-2S-kfLr1fWTbwG: #000000;
  --plasmic-token-black: var(--token-2S-kfLr1fWTbwG);
  --token-JUjn1rf1dT9n92: 100%;
  --plasmic-token-full-width: var(--token-JUjn1rf1dT9n92);
}

.plasmic_default_styles {
  --mixin-X-wn_HG22xZch_font-family: "Inter", sans-serif;
  --mixin-X-wn_HG22xZch_font-size: 16px;
  --mixin-X-wn_HG22xZch_font-weight: 400;
  --mixin-X-wn_HG22xZch_font-style: normal;
  --mixin-X-wn_HG22xZch_color: #535353;
  --mixin-X-wn_HG22xZch_text-align: left;
  --mixin-X-wn_HG22xZch_text-transform: none;
  --mixin-X-wn_HG22xZch_line-height: 1.5;
  --mixin-X-wn_HG22xZch_letter-spacing: normal;
  --mixin-X-wn_HG22xZch_white-space: pre-wrap;
  --mixin-X-wn_HG22xZch_user-select: text;
  --mixin-X-wn_HG22xZch_text-decoration-line: none;
  --mixin-X-wn_HG22xZch_text-overflow: clip;
  --mixin-LBJ_cwbFq-PqI_color: #000000;
  --mixin-LBJ_cwbFq-PqI_font-weight: 900;
  --mixin-LBJ_cwbFq-PqI_font-size: 72px;
  --mixin-LBJ_cwbFq-PqI_line-height: 1;
  --mixin-LBJ_cwbFq-PqI_letter-spacing: -4px;
  --mixin-LBJ_cwbFq-PqI_white-space: pre-wrap;
  --mixin-Ai8V-lhsYsQ4X_color: #000000;
  --mixin-Ai8V-lhsYsQ4X_font-size: 48px;
  --mixin-Ai8V-lhsYsQ4X_font-weight: 700;
  --mixin-Ai8V-lhsYsQ4X_letter-spacing: -1px;
  --mixin-Ai8V-lhsYsQ4X_line-height: 1.1;
  --mixin-Ai8V-lhsYsQ4X_white-space: pre-wrap;
  --mixin-QuZKmGsbTYCc1_color: #0070f3;
  --mixin-QuZKmGsbTYCc1_white-space: pre-wrap;
  --mixin-UipWvY-ih0Irx_color: #000000;
  --mixin-UipWvY-ih0Irx_font-size: 32px;
  --mixin-UipWvY-ih0Irx_font-weight: 600;
  --mixin-UipWvY-ih0Irx_letter-spacing: -0.8px;
  --mixin-UipWvY-ih0Irx_line-height: 1.2;
  --mixin-UipWvY-ih0Irx_white-space: pre-wrap;
  --mixin-gs8C2wGY15T47_color: #000000;
  --mixin-gs8C2wGY15T47_font-size: 24px;
  --mixin-gs8C2wGY15T47_font-weight: 600;
  --mixin-gs8C2wGY15T47_letter-spacing: -0.5px;
  --mixin-gs8C2wGY15T47_line-height: 1.3;
  --mixin-gs8C2wGY15T47_white-space: pre-wrap;
  --mixin-XvSLEsN1vBsae_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-XvSLEsN1vBsae_border-bottom-color: #dddddd;
  --mixin-XvSLEsN1vBsae_border-bottom-style: solid;
  --mixin-XvSLEsN1vBsae_border-bottom-width: 1px;
  --mixin-XvSLEsN1vBsae_border-left-color: #dddddd;
  --mixin-XvSLEsN1vBsae_border-left-style: solid;
  --mixin-XvSLEsN1vBsae_border-left-width: 1px;
  --mixin-XvSLEsN1vBsae_border-right-color: #dddddd;
  --mixin-XvSLEsN1vBsae_border-right-style: solid;
  --mixin-XvSLEsN1vBsae_border-right-width: 1px;
  --mixin-XvSLEsN1vBsae_border-top-color: #dddddd;
  --mixin-XvSLEsN1vBsae_border-top-style: solid;
  --mixin-XvSLEsN1vBsae_border-top-width: 1px;
  --mixin-XvSLEsN1vBsae_border-bottom-left-radius: 3px;
  --mixin-XvSLEsN1vBsae_border-bottom-right-radius: 3px;
  --mixin-XvSLEsN1vBsae_border-top-left-radius: 3px;
  --mixin-XvSLEsN1vBsae_border-top-right-radius: 3px;
  --mixin-XvSLEsN1vBsae_font-family: "Inconsolata";
  --mixin-XvSLEsN1vBsae_padding-bottom: 1px;
  --mixin-XvSLEsN1vBsae_padding-left: 4px;
  --mixin-XvSLEsN1vBsae_padding-right: 4px;
  --mixin-XvSLEsN1vBsae_padding-top: 1px;
  --mixin-XvSLEsN1vBsae_white-space: pre-wrap;
  --mixin-rEF7yeh6eH_Rc_border-left-color: #dddddd;
  --mixin-rEF7yeh6eH_Rc_border-left-style: solid;
  --mixin-rEF7yeh6eH_Rc_border-left-width: 3px;
  --mixin-rEF7yeh6eH_Rc_color: #888888;
  --mixin-rEF7yeh6eH_Rc_padding-left: 10px;
  --mixin-rEF7yeh6eH_Rc_white-space: pre-wrap;
  --mixin-7RYACzlziA6Lj_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7RYACzlziA6Lj_border-bottom-color: #dddddd;
  --mixin-7RYACzlziA6Lj_border-bottom-style: solid;
  --mixin-7RYACzlziA6Lj_border-bottom-width: 1px;
  --mixin-7RYACzlziA6Lj_border-left-color: #dddddd;
  --mixin-7RYACzlziA6Lj_border-left-style: solid;
  --mixin-7RYACzlziA6Lj_border-left-width: 1px;
  --mixin-7RYACzlziA6Lj_border-right-color: #dddddd;
  --mixin-7RYACzlziA6Lj_border-right-style: solid;
  --mixin-7RYACzlziA6Lj_border-right-width: 1px;
  --mixin-7RYACzlziA6Lj_border-top-color: #dddddd;
  --mixin-7RYACzlziA6Lj_border-top-style: solid;
  --mixin-7RYACzlziA6Lj_border-top-width: 1px;
  --mixin-7RYACzlziA6Lj_border-bottom-left-radius: 3px;
  --mixin-7RYACzlziA6Lj_border-bottom-right-radius: 3px;
  --mixin-7RYACzlziA6Lj_border-top-left-radius: 3px;
  --mixin-7RYACzlziA6Lj_border-top-right-radius: 3px;
  --mixin-7RYACzlziA6Lj_font-family: "Inconsolata";
  --mixin-7RYACzlziA6Lj_padding-bottom: 3px;
  --mixin-7RYACzlziA6Lj_padding-left: 6px;
  --mixin-7RYACzlziA6Lj_padding-right: 6px;
  --mixin-7RYACzlziA6Lj_padding-top: 3px;
  --mixin-7RYACzlziA6Lj_white-space: pre-wrap;
  --mixin-JkgydhlLpeRAW_display: flex;
  --mixin-JkgydhlLpeRAW_flex-direction: column;
  --mixin-JkgydhlLpeRAW_align-items: stretch;
  --mixin-JkgydhlLpeRAW_justify-content: flex-start;
  --mixin-JkgydhlLpeRAW_list-style-position: outside;
  --mixin-JkgydhlLpeRAW_padding-left: 40px;
  --mixin-JkgydhlLpeRAW_position: relative;
  --mixin-JkgydhlLpeRAW_list-style-type: disc;
  --mixin-JkgydhlLpeRAW_white-space: pre-wrap;
  --mixin-kOBgQiCllm1RJ_display: flex;
  --mixin-kOBgQiCllm1RJ_flex-direction: column;
  --mixin-kOBgQiCllm1RJ_align-items: stretch;
  --mixin-kOBgQiCllm1RJ_justify-content: flex-start;
  --mixin-kOBgQiCllm1RJ_list-style-position: outside;
  --mixin-kOBgQiCllm1RJ_padding-left: 40px;
  --mixin-kOBgQiCllm1RJ_position: relative;
  --mixin-kOBgQiCllm1RJ_list-style-type: decimal;
  --mixin-kOBgQiCllm1RJ_white-space: pre-wrap;
  --mixin-K8-1WXUFSSpKs_color: #000000;
  --mixin-K8-1WXUFSSpKs_font-size: 20px;
  --mixin-K8-1WXUFSSpKs_font-weight: 600;
  --mixin-K8-1WXUFSSpKs_letter-spacing: -0.3px;
  --mixin-K8-1WXUFSSpKs_line-height: 1.5;
  --mixin-K8-1WXUFSSpKs_white-space: pre-wrap;
  --mixin-h1yAU5gJlo1Cs_color: #000000;
  --mixin-h1yAU5gJlo1Cs_font-size: 16px;
  --mixin-h1yAU5gJlo1Cs_font-weight: 600;
  --mixin-h1yAU5gJlo1Cs_line-height: 1.5;
  --mixin-h1yAU5gJlo1Cs_white-space: pre-wrap;
  --mixin-DGoe0PiaOsS-4_color: #3291ff;
  --mixin-DGoe0PiaOsS-4_white-space: pre-wrap;
  --mixin-su5srrkChGvFn_white-space: pre-wrap;
  --mixin-jl2vmu0cTJpeO_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-X-wn_HG22xZch_font-family);
  font-size: var(--mixin-X-wn_HG22xZch_font-size);
  font-weight: var(--mixin-X-wn_HG22xZch_font-weight);
  font-style: var(--mixin-X-wn_HG22xZch_font-style);
  color: var(--mixin-X-wn_HG22xZch_color);
  text-align: var(--mixin-X-wn_HG22xZch_text-align);
  text-transform: var(--mixin-X-wn_HG22xZch_text-transform);
  line-height: var(--mixin-X-wn_HG22xZch_line-height);
  letter-spacing: var(--mixin-X-wn_HG22xZch_letter-spacing);
  white-space: var(--mixin-X-wn_HG22xZch_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-LBJ_cwbFq-PqI_color);
  font-weight: var(--mixin-LBJ_cwbFq-PqI_font-weight);
  font-size: var(--mixin-LBJ_cwbFq-PqI_font-size);
  line-height: var(--mixin-LBJ_cwbFq-PqI_line-height);
  letter-spacing: var(--mixin-LBJ_cwbFq-PqI_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Ai8V-lhsYsQ4X_color);
  font-size: var(--mixin-Ai8V-lhsYsQ4X_font-size);
  font-weight: var(--mixin-Ai8V-lhsYsQ4X_font-weight);
  letter-spacing: var(--mixin-Ai8V-lhsYsQ4X_letter-spacing);
  line-height: var(--mixin-Ai8V-lhsYsQ4X_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-QuZKmGsbTYCc1_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-UipWvY-ih0Irx_color);
  font-size: var(--mixin-UipWvY-ih0Irx_font-size);
  font-weight: var(--mixin-UipWvY-ih0Irx_font-weight);
  letter-spacing: var(--mixin-UipWvY-ih0Irx_letter-spacing);
  line-height: var(--mixin-UipWvY-ih0Irx_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-gs8C2wGY15T47_color);
  font-size: var(--mixin-gs8C2wGY15T47_font-size);
  font-weight: var(--mixin-gs8C2wGY15T47_font-weight);
  letter-spacing: var(--mixin-gs8C2wGY15T47_letter-spacing);
  line-height: var(--mixin-gs8C2wGY15T47_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-XvSLEsN1vBsae_font-family);
  border-radius: var(--mixin-XvSLEsN1vBsae_border-top-left-radius)
    var(--mixin-XvSLEsN1vBsae_border-top-right-radius)
    var(--mixin-XvSLEsN1vBsae_border-bottom-right-radius)
    var(--mixin-XvSLEsN1vBsae_border-bottom-left-radius);
  padding: var(--mixin-XvSLEsN1vBsae_padding-top)
    var(--mixin-XvSLEsN1vBsae_padding-right)
    var(--mixin-XvSLEsN1vBsae_padding-bottom)
    var(--mixin-XvSLEsN1vBsae_padding-left);
  border-top: var(--mixin-XvSLEsN1vBsae_border-top-width)
    var(--mixin-XvSLEsN1vBsae_border-top-style)
    var(--mixin-XvSLEsN1vBsae_border-top-color);
  border-right: var(--mixin-XvSLEsN1vBsae_border-right-width)
    var(--mixin-XvSLEsN1vBsae_border-right-style)
    var(--mixin-XvSLEsN1vBsae_border-right-color);
  border-bottom: var(--mixin-XvSLEsN1vBsae_border-bottom-width)
    var(--mixin-XvSLEsN1vBsae_border-bottom-style)
    var(--mixin-XvSLEsN1vBsae_border-bottom-color);
  border-left: var(--mixin-XvSLEsN1vBsae_border-left-width)
    var(--mixin-XvSLEsN1vBsae_border-left-style)
    var(--mixin-XvSLEsN1vBsae_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-rEF7yeh6eH_Rc_color);
  padding-left: var(--mixin-rEF7yeh6eH_Rc_padding-left);
  border-left: var(--mixin-rEF7yeh6eH_Rc_border-left-width)
    var(--mixin-rEF7yeh6eH_Rc_border-left-style)
    var(--mixin-rEF7yeh6eH_Rc_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7RYACzlziA6Lj_font-family);
  border-radius: var(--mixin-7RYACzlziA6Lj_border-top-left-radius)
    var(--mixin-7RYACzlziA6Lj_border-top-right-radius)
    var(--mixin-7RYACzlziA6Lj_border-bottom-right-radius)
    var(--mixin-7RYACzlziA6Lj_border-bottom-left-radius);
  padding: var(--mixin-7RYACzlziA6Lj_padding-top)
    var(--mixin-7RYACzlziA6Lj_padding-right)
    var(--mixin-7RYACzlziA6Lj_padding-bottom)
    var(--mixin-7RYACzlziA6Lj_padding-left);
  border-top: var(--mixin-7RYACzlziA6Lj_border-top-width)
    var(--mixin-7RYACzlziA6Lj_border-top-style)
    var(--mixin-7RYACzlziA6Lj_border-top-color);
  border-right: var(--mixin-7RYACzlziA6Lj_border-right-width)
    var(--mixin-7RYACzlziA6Lj_border-right-style)
    var(--mixin-7RYACzlziA6Lj_border-right-color);
  border-bottom: var(--mixin-7RYACzlziA6Lj_border-bottom-width)
    var(--mixin-7RYACzlziA6Lj_border-bottom-style)
    var(--mixin-7RYACzlziA6Lj_border-bottom-color);
  border-left: var(--mixin-7RYACzlziA6Lj_border-left-width)
    var(--mixin-7RYACzlziA6Lj_border-left-style)
    var(--mixin-7RYACzlziA6Lj_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-JkgydhlLpeRAW_display);
  flex-direction: var(--mixin-JkgydhlLpeRAW_flex-direction);
  align-items: var(--mixin-JkgydhlLpeRAW_align-items);
  justify-content: var(--mixin-JkgydhlLpeRAW_justify-content);
  list-style-position: var(--mixin-JkgydhlLpeRAW_list-style-position);
  padding-left: var(--mixin-JkgydhlLpeRAW_padding-left);
  position: var(--mixin-JkgydhlLpeRAW_position);
  list-style-type: var(--mixin-JkgydhlLpeRAW_list-style-type);
  flex-column-gap: var(--mixin-JkgydhlLpeRAW_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-kOBgQiCllm1RJ_display);
  flex-direction: var(--mixin-kOBgQiCllm1RJ_flex-direction);
  align-items: var(--mixin-kOBgQiCllm1RJ_align-items);
  justify-content: var(--mixin-kOBgQiCllm1RJ_justify-content);
  list-style-position: var(--mixin-kOBgQiCllm1RJ_list-style-position);
  padding-left: var(--mixin-kOBgQiCllm1RJ_padding-left);
  position: var(--mixin-kOBgQiCllm1RJ_position);
  list-style-type: var(--mixin-kOBgQiCllm1RJ_list-style-type);
  flex-column-gap: var(--mixin-kOBgQiCllm1RJ_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-K8-1WXUFSSpKs_color);
  font-size: var(--mixin-K8-1WXUFSSpKs_font-size);
  font-weight: var(--mixin-K8-1WXUFSSpKs_font-weight);
  letter-spacing: var(--mixin-K8-1WXUFSSpKs_letter-spacing);
  line-height: var(--mixin-K8-1WXUFSSpKs_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-h1yAU5gJlo1Cs_color);
  font-size: var(--mixin-h1yAU5gJlo1Cs_font-size);
  font-weight: var(--mixin-h1yAU5gJlo1Cs_font-weight);
  line-height: var(--mixin-h1yAU5gJlo1Cs_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-DGoe0PiaOsS-4_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
